body {
  font-family: "Inter", sans-serif;
}

header {
  margin-top: 30px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto 50px auto;
}

.logo {
  font-size: 1.4em;
  font-weight: 600;
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu form {
  margin: 0;
}

.menu form,
.menu a {
  display: flex;
  align-items: center;
}

.logout {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
}

.logout:hover {
  color: #207fee;
}

.profile {
  color: #207fee;
}

span {
  margin-right: auto;
}

a {
  justify-content: flex-end;
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #207fee;
}

main {
margin: auto;
display: flex;
justify-content: center;
align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
}

.field {
  display: grid;
  grid-template-columns: 150px 200px;
  align-items: center;
  gap: 10px;
}

.username,
.mail,
.password {
  font-size: 1.1em;
  border: none;
  height: 65px;
}

.password {
  display: flex;
  gap: 10px;
}

.button {
  border-radius: 8px;
  background-color: #F69F1D;
  border: 1px solid #F69F1D;
  color: #ffffff;
  font-size: 1.2em;
}

.button:active {
  opacity: 50%;
}

.button:hover {
  background-color: #e0890f;
}

.error {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
margin: auto;
color: red;
font-size: 1.1em;
}

.message {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
margin: auto;
color: green;
font-size: 1.1em;
}