form {
  border: 1px solid #000000;
  text-align: center;
  font-family: 'Inter', sans-serif;
  width: 500px;
  height: 688px;
  margin: auto;
}

.title {
  color: #FFFFFF;
  background-color: #F69F1D;
  border-radius: 8px;
  padding: 14px;

  width: 214px;
  height: 64px;
  margin: auto;
  
}

.mail, .password {
  color: #FFC8D3;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  width: 295px;
  height: 60px;
  }

.submit{
  font-weight: 900;
  background-color: #207FEE;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 14px;
  margin: auto;
  width: 205px;
  height: 64px;
}

