<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connections</title>
    <link rel="stylesheet" th:href="@{/css/connectionsStyle.css}">
</head>
<body>

<header>
    <nav>
        <ul class="navbar">
            <span>Pay My Buddy</span>
            <div class="menu">
                <a th:href="@{/dashboard}">Transférer</a>
                <a href="#">Profil</a>
                <a th:href="@{/connections}">Ajouter relation</a>
                <a th:href="@{/logout}">Se déconnecter</a>
            </div>
        </ul>
    </nav>
</header>

<main>
    <section class="add">
        <form th:action="@{/connections}" method="post" th:object="${addConnectionDTO}">
            <label>Chercher une relation<br>
                <input class="mail" type="text" th:field="*{email}" placeholder="Saisir une adresse mail">
                <input class="button" type="submit" value="Ajouter">
            </label>
            </form>
    </section>
</main>
</body>
</html>