<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Transaction</title>
    <link th:href="@{/css/dashboardStyle.css}" rel="stylesheet">
</head>

<body>

<header>
    <nav>
        <ul class="navbar">
            <span>Pay My Buddy</span>
            <div class="menu">
                <a class="transfer" th:href="@{/dashboard}">Transférer</a>
                <a th:href="@{/profile}">Profil</a>
                <a th:href="@{/connections}">Ajouter relation</a>
                <form th:action="@{/logout}" method="post">
                    <input type="hidden"
                           th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}">
                    <button type="submit" class="logout">Se déconnecter</button>
                </form>
            </div>
        </ul>
    </nav>
</header>

<main>

    <section>

        <form class="balance" th:action="@{/balance}" method="post" th:object="${balance}">

            <div class="value">
                <p> Solde disponible:</p>
                <p th:text="${user.balance} + '€'">0 €</p>
            </div>

            <div>
                <label>
                    <input class="amount" th:field="*{amount}" type="number" min="0" max="500" step="10" value="0">
                    <span class="currency">€</span>
                </label>
            </div>
            <div class="button">
                <input class="deposit" type="submit" value="Recharger">
            </div>
        </form>

        <div class="error" th:if="${error}" th:text="${error}"></div>


    </section>

    <section>
        <form th:action="@{/transaction}" method="post" th:object="${submitTransactionDTO}">
            <div>
                <label th:for="*{receiver}"></label>
                <label>
                    <select th:field="*{receiver}" required>
                        <option value="" selected hidden> Sélectionner une relation</option>
                        <option th:each="connection : ${connections}"
                                th:value="${connection.friendUsername}"
                                th:text="${connection.friendUsername}"> user A
                        </option>
                    </select>
                </label>
            </div>
            <div>
                <label>
                    <input class="description" type="text" th:field="*{description}" placeholder="Description"
                           maxlength="35">
                </label>
            </div>
            <div>
                <label>
                    <input class="price" type="number" th:field="*{amount}" min="0" max="500" step="10" value="0">
                    <span class="currency">€</span>
                </label>
            </div>
            <div>
                <input class="submit" type="submit" value="Payer">
            </div>
        </form>
    </section>

    <section class="view">
        <div>
            <h2>Mes transactions</h2>
        </div>
        <table>
            <thead>
            <tr class="header">
                <th>Relations</th>
                <th class="middle">Description</th>
                <th class="right">Montant</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaction : ${transactions}">
                <td th:text="${transaction.relation}"></td>
                <td class="middle" th:text="${transaction.description}"></td>
                <td class="right" th:text="${transaction.signedAmount}"></td>
            </tr>
            </tbody>
        </table>

    </section>

</main>

</body>

</html>