<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" th:href="@{/css/loginRegisterStyle.css}">
</head>
<body>
<header>

</header>
<main>
    <section>
        <form class="form" th:action="@{/login}" method="post">
            <div class="title">
                <h2>Pay My Buddy</h2>
            </div>
            <div class="error" th:if="${param.error}">
                L'email ou le mot de passe est incorrect.</div>
            <div class="logout" th:if="${param.logout}">
                Déconnexion réalisée avec succès.</div>
            <div>
                <label>
                    <input class="mail" type="text" name="username" placeholder="Email" required autofocus>
                </label>
            </div>
            <div>
                <label>
                    <input class="password" type="password" name="password" placeholder="Mot de passe" required>
                </label>
            </div>
            <div>
                <input class="submit" type="submit" value="Se connecter">
            </div>
            <p>
                <a th:href="@{/register}">Créer un compte ?</a>
            </p>
        </form>
    </section>
</main>
</body>