<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
<header >

</header>
<main>
    <section>
        <form class="form" action="" method="post">

            <div class="title">
                <h2>Pay My Buddy</h2>
            </div>
            <p>
                <label>
                    <input class="mail" type="text" name="mail" placeholder="Mail" required>
                </label>
            </p>
            <p>
                <label>
                    <input class="password" type="password" name="motDePasse" placeholder="Mot de passe" required>
                </label>
            </p>
            <input class="submit" type="submit" value="Se connecter">

        </form>
    </section>
</main>
</body>