<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/css/profileStyle.css}">
</head>
<body>

<header>
    <nav>
        <ul class="navbar">
            <span>Pay My Buddy</span>
            <div class="menu">
                <a th:href="@{/dashboard}">Transférer</a>
                <a class="profile" th:href="@{/profile}">Profil</a>
                <a th:href="@{/connections}">Ajouter relation</a>
                <a th:href="@{/logout}">Se déconnecter</a>
            </div>
        </ul>
    </nav>
</header>

<main>
    <section>
        <form th:action="@{/profile}" method="post" th:object="${profileDTO}" class="form">

            <div class="field">
                <label for="username">Username</label>
                <input class="username" type="text" id="username" th:value="${profileDTO.username}" disabled>
            </div>

            <div class="field">
                <label for="mail">Mail</label>
                <input class="mail" type="text" id="mail" th:value="${profileDTO.email}" disabled>
            </div>

            <div class="field">
                <label for="password">Mot de passe</label>
                <div class="password">
                    <input class="password" type="password" id="password" th:field="*{password}" placeholder="mot de passe">
                    <input class="button" type="submit" value="Modifier">
                </div>
            </div>

        </form>
        <div>

            <br><div class="message" th:if="${message}" th:text="${message}"></div>
            <div class="error" th:if="${error}" th:text="${error}"></div>

        </div>
    </section>
</main>
</body>
</html>